@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@import "@heroui/styles";



.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.linear-color {
  background: linear-gradient(#f97316, #fbbf24);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  background: #f97316;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
}