@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";



.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.linear-color {
  background: linear-gradient(to right, #f97316, #fbbf24);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  background: #f97316;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
}

.btn-secondary {
  border: 1px solid #8a87997f;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: #8a8799;
}

.btn-secondary:hover {
  border: 1px solid #8a8799;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
}

.card-bg {
  background: linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.5));
}

.bg-1 {
  background: linear-gradient(135deg, #1e1b4b, #312e81);
}